* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #141414;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #141414;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .logo img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    height: 40px;
  }
  .logo img:hover{
    transform: scale(1.66);
  }
  nav ul {
    display: flex;
   
  }
  
  nav ul li a{
    margin-left: 40px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a:hover {
    color: #e50914;
  }

  .container h2{
    font-size: 40px;
  }
 #film-icon{
  width: 40px;
 }
 