
  .footer-container {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    max-height: 200px;
    
  }
  
  .footer-container span {
    color: gray;
    border-radius: 5px;
  }
    .footer-container span:hover{
        color: red;
        cursor: pointer;

    }