.allMovies{
    white-space: nowrap;
    height: auto; 
  
  
}

.movie{
    display: inline-block; 
    cursor: pointer;
    width: 160px;
    margin-left: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.movie:hover{
  transform: scale(1.66);
}

  .movies-list{
    display: flex;
    flex-wrap: wrap;
  }

  h2{
    font-size: 20px;
    margin-left: 18px;
  }